# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/
# PyCharm
.idea/

# Streamlit
.streamlit/secrets.toml

# VectorDB
data/basic_chroma_langchain_db/
data/*.sqlite3
data/vectordb_email_semantic
data/PUB_FAQ_collection
data/vectordb_wq_reference
data/vectordb_email_semantic_80
data/vectordb_email_semantic_98

# log files
log.log
